@font-face {
	font-family: dropcap;
	src: url("fonts/dropcap-font.ttf");
}

body {
	line-height: 1.2em;
}

span.dropcap {
	font-family: dropcap;
	font-size: 5rem;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 200;
	float: left;
	margin-right: 0.3125rem;
	padding-top: -0.3rem;
	vertical-align: text-top;
	line-height: 4.8rem;
	height: 4.8rem;
}